<!--
  Generated template for the AcceuilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Le Petit Prince</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>Utilisateur: </ion-label>
    <ion-input type="text" [(ngModel)]="this.login"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Mot de Passe: </ion-label>
    <ion-input type="password" [(ngModel)]="this.passwd"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Se souvenir de moi</ion-label>
    <ion-checkbox [(ngModel)]="this.remember"> Se souvennir de moi</ion-checkbox>
  </ion-item>

  <button ion-button (click)="logIn()" > Connecter </button>
</ion-content>
