<!--
  Generated template for the ArticlesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Articles</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-slides pager>
    <ion-slide>
      <h2> Bienvenue dans le tutoriel</h2>
      <p> Vous pouvez glisser sur la droite pour voir les autres slides</p>
    </ion-slide>

    <ion-slide>
      <h2> Introduction</h2>
      <p> Cette application est à l'usage de parents d'élèves pour êtres au courant de la vie de leur gamin</p>
    </ion-slide>

    <ion-slide>
      <h2> Contenu</h2>
      <p> Vous trouverez ici tous les articles, photos et dates importantes concernant votre enfant.</p>
      <p> Vous pouvez glisser vers le bas pour voir la page article</p>
    </ion-slide>
  </ion-slides>
  <ion-refresher (ionRefresh)="rafraichirListe($event)">
     <ion-refresher-content>
     </ion-refresher-content>
  </ion-refresher>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ng-container *ngIf="items">
    <ng-container *ngFor="let content of items">
    <ion-card-header >
      <h2>{{content.titre}}</h2>
      <p> {{content.date}}</p>
    </ion-card-header>
    <ion-card-content>
      <b> {{content.categorie}}</b>
      <p>{{content.texte}}</p>
      <ng-container *ngFor="let img of content.photos">
        <ion-card-content>{{img.legende}}</ion-card-content>
        <img src="assets/imgs/{{img.image}}"/>
      </ng-container>
    </ion-card-content>
  </ng-container>
  </ng-container>
  <ng-container *ngIf="!items">
    <ng-container *ngFor = "let post of articles">
      <ion-card-header>
        <h2>{{post.titre}}</h2>
      </ion-card-header>
      <ion-card-content>
        <p>{{post.texte}}</p>
      </ion-card-content>
      <ng-container *ngFor="let img of post.photos">
        <ion-card-content>{{img.legende}}</ion-card-content>
        <img src="assets/imgs/{{img.image}}"/>
      </ng-container>
  </ng-container>
</ng-container>
</ion-content>
