<!--
  Generated template for the ContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Information de contact</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <p>
    Ecole le Petit Prince <br/>
    1, rue des écoles <br />
    13000 Saint Exupéry
  </p>
  <p> Tél : 04 12 34 56 78 </p>
  <p> Mail : <a href="mailto:contact@lepetitprince.fr">contact@lepetitprince.fr</a>
    <br /> <br/>
  <button ion-button (click)="logout();">Deconnexion</button>
</ion-content>
