<!--
  Generated template for the DatesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Dates importantes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="rafraichirListe($event)">
     <ion-refresher-content>
     </ion-refresher-content>
  </ion-refresher>
<ng-container *ngFor = "let i of dates">
  <ion-card-header>
    <h3>{{i.titre}}</h3>
    <p>{{i.date}}</p>
  </ion-card-header>
  <ion-card-content>
    <p> {{i.texte}}</p>
    <ion-toggle [(ngModel)]="favoris"></ion-toggle>
  </ion-card-content>

</ng-container>
<ion-item *ngIf="error">
    <p>{{error}}</p>
</ion-item>
</ion-content>
