<!--
  Generated template for the ImagesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Galerie d'images</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="rafraichirListe($event)">
     <ion-refresher-content>
     </ion-refresher-content>
  </ion-refresher>
  <ion-list>
      <ng-container *ngFor="let post of img">
        <h3> {{post.titre}} </h3>
        <p> {{post.date}} </p>
        <ng-container *ngFor="let u of post.photos">
          <ion-list>
          <b> {{u.legende}} </b>
          <p> {{u.date}}</p>
          <img src="assets/imgs/{{u.image}}"/>
          <!-- <img src="http://www.sebastien-thon.fr/cours/M4104Cip/projet/images/{{u.image}}"/> Si jamais l'image ne s'affiche pas-->

        </ion-list>
        </ng-container>
      </ng-container>
      <ion-item *ngIf="error">
          <p>{{error}}</p>
      </ion-item>
    </ion-list>
</ion-content>
